:root[data-mantine-color-scheme='dark'] {
    /* Backgrounds */
    --color-background: #181818;
    --color-surface: #202020;

    --color-workout-section-bg: #1c1c20;
    --color-workout-stack-bg: #191919;
    --color-workout-exercise-bg: #272727;

    /* Borders */
    --color-border: #333;

    /* Text */
    --color-text: #f0f0f0;
    --color-text-muted: #aaa;
}

:root[data-mantine-color-scheme='light'] {
    /* Backgrounds */
    --color-background: #f8f9fa;
    --color-surface: #ffffff;

    --color-workout-section-bg: #f6f8fc;
    --color-workout-stack-bg: #f8f8fa;
    --color-workout-exercise-bg: #ffffff;

    /* Borders */
    --color-border: #dee2e6;

    /* Text */
    --color-text: #1f2937;
    --color-text-muted: #6b7280;
}
