:root[data-mantine-color-scheme='dark'] {
    /* Backgrounds */
    --color-background: #181818;
    --color-surface: #202020;

    /* Borders */
    --color-border: #333;

    /* Text */
    --color-text: #f0f0f0;
    --color-text-muted: #aaa;
}

:root[data-mantine-color-scheme='light'] {
    /* Backgrounds */
    --color-background: #f8f9fa;
    --color-surface: #ffffff;

    --color-border: #dee2e6;

    /* Text */
    --color-text: #1f2937;
    --color-text-muted: #6b7280;
}
